body
{
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(back.png);
    background-size: cover;
    background: linear-gradient(to right, #9c27b0, #8ecdff);

}
.signup, .username
{
    background: rgba (44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 90px;
    height: 430px;
    margin-left: 180px;
}
form
{
    width: 240px;
    text-align: center;
}
input
{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play'sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;

}
input[type=button]:hover
{
    color: black;
    font-weight: 900;
    background-color: white;
}
h2
{
    color:#000;

}
:placeholder
{
    color: aliceblue;
    opacity: 0.8;/*Firefox*/
}
